# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Vite build output
dist/
*.local

# Editor / OS junk
.DS_Store
Thumbs.db
*.swp
*.swo

# VSCode
.vscode/
.idea/

# Logs
*.log

# Env files
.env
.env.local
.env.*.local
